.card {
  padding: 10px;
  display: inline-block;
}
  
.card-album {
  font-size: 14px;
}
  
.btn_select {
  padding: 12px;
  width: 300px;
  color: #fff;
  background-color: #0071bc;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}