.input_get {
  width: 30%;
  margin-right: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 2px 4px 10px black;
}

.input_get:focus {
  outline: none;
}

.btn_get {
  padding: 12px;
  width: 100%;
  color: #fff;
  background-color: #0071bc;
  border: none;
  border-radius: 20px;
  margin-bottom: 12px;
}